<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h4>Itens da Compra</h4>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Qnt</th>
      <th scope="col">Vl.Un</th>
      <th scope="col">Vl.Tot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for i in item %}
        <th scope="row">{{ i.codigo }}</th>
        <th>{{ i.descricao }}</th>
        <th>{{ i.quantidade }}</th>
        <th>{{ i.vtun }}</th>
        <th>{{ i.vttot }}</th>
        {% endfor  %}
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>