{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}Finalizar Entrega{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Detalhamento da Entrega</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Dados da Venda</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                       <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ es_form.cliente|bootstrap }}
                                </div>
                                <div class="col-md-3" hidden>
                                    <select name="movimento" id="id_movimento">
                                      <option value="s" selected="">Saída</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Data da Venda:</label>
                                    {{ es_form.data }}
                                </div>
                                <div class="col-md-3" hidden>
                                    <select name="usuario" required="" id="id_usuario">
                                      <option value="{{ request.user.id }}" selected="">{{ request.user }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.codigo|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.valor_total|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.desconto|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.entrega|bootstrap }}
                                </div>
                                <div class="col-md-3" hidden>
                                    {{ es_form.situacao|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.status_entrega|bootstrap }}
                                </div>
                            </div>
                           <br>
                       </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Endereço da Entrega</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <fieldset>
                            {% for c in cliente %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_cep">CEP:</label>
                                        <div class=" ">
                                            <input type="text" name="cep" class="form-control form-control" value="{{ c.cep }}" data-mask="00000-000" placeholder="00000-000" required="" id="id_cep" maxlength="9" autocomplete="off"  readonly="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_logradouro">Logradouro:</label>
                                        <div class=" ">
                                            <input type="text" name="logradouro" maxlength="300" value="{{ c.logradouro }}" class=" form-control" required="" id="id_logradouro" readonly="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_numero">Número:</label>
                                        <div class=" ">
                                            <input type="text" name="numero" maxlength="30" value="{{ c.numero }}" class=" form-control" required="" id="id_numero" readonly="true">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_bairro">Bairro:</label>
                                        <div class=" ">
                                            <input type="text" name="bairro" maxlength="100" value="{{ c.bairro }}" class=" form-control" required="" id="id_bairro" readonly="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_complemento">Complemento:</label>
                                        <div class=" ">
                                            {% if c.complemento == None %}
                                            <input type="text" name="complemento" maxlength="255" value="" class=" form-control" id="id_complemento" readonly="true">
                                            {% else %}
                                            <input type="text" name="complemento" maxlength="255" value="{{ c.complemento }}" class=" form-control" id="id_complemento" readonly="true">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_cidade">Cidade:</label>
                                        <div class=" ">
                                            <input type="text" name="cidade" maxlength="200" value="{{ c.cidade }}" class=" form-control" required="" id="id_cidade" readonly="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_estado">Estado:</label>
                                        <div class=" ">
                                            <input type="text" name="estado" maxlength="50" value="{{ c.estado }}" class=" form-control" required="" id="id_estado" readonly="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Matériais da Entrega</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <fieldset>
                        <div style="background: #ddd; border: 1px #A9A9A9 solid;">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Produto</th>
                              <th style="text-align: center;">Quantidade</th>
                              <th style="text-align: center;">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in es.estoques.all %}
                              <tr id="item">
                                <td>{{ item.material }}</td>
                                <td style="text-align: center;">{{ item.quantidade }}</td>
                                <td style="text-align: center;">{{ item.valor }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'listar_entrega' %}" class="btn btn-outline-info">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    Cancelar
                </a>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <button type="submit" class="btn btn-outline-success" >
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Salvar
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<script src="{% static 'estaticos/dist/js/update_venda.js' %}"></script>
{% endblock content %}
