{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}Finalizar Pendência{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Detalhamento da Saída</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Dados da Venda</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                       <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ es_form.cliente|bootstrap }}
                                </div>
                                <div class="col-md-3" hidden>
                                    <select name="movimento" id="id_movimento">
                                      <option value="s" selected="">Saída</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Data da Venda:</label>
                                    {{ es_form.data }}
                                </div>
                                <div class="col-md-3" hidden>
                                    <select name="usuario" required="" id="id_usuario">
                                      <option value="{{ request.user.id }}" selected="">{{ request.user }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.codigo|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.valor_total|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.desconto|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.entrega|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    {{ es_form.situacao|bootstrap }}
                                </div>
                            </div>
                           <br>
                       </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Matériais da Venda</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <fieldset>
                        <div class="col-sm-6">

                        </div>
                        <div style="background: #ddd; border: 1px #A9A9A9 solid;">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Produto</th>
                              <th style="text-align: center;">Quantidade</th>
                              <th style="text-align: center;">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in es.estoques.all %}
                              <tr id="item">
                                <td>{{ item.material }}</td>
                                <td style="text-align: center;">{{ item.quantidade }}</td>
                                <td style="text-align: center;">{{ item.valor }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'listar_venda' %}" class="btn btn-outline-info">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    Cancelar
                </a>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <button type="submit" class="btn btn-outline-success" >
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Salvar
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>

<script src="{% static 'estaticos/dist/js/update_venda.js' %}"></script>
{% endblock content %}
