{% extends "base.html" %}

{% block title %}Detalhamento{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        {% if object.movimento == 'e' %}
            <h1 class="m-0 text-dark">Detalhamento de Entrada</h1>
        {% else %}
            <h1 class="m-0 text-dark">Detalhamento de Saída</h1>
        {% endif %}
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        {% if object.movimento == 'e' %}
                          <h1>Código da Entrada: {{ object.codigo }}</h1>
                        {% else %}
                          <h1>Código da Saída: {{ object.codigo }}</h1>
                        {% endif %}

                        <div class="col-sm-6">
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <th class="text-right">Data:</th>
                                <td>{{ object.data }}</td>
                              </tr>
                              {% if object.movimento == 'e' %}
                              <tr>
                                <th class="text-right">Funcionário:</th>
                                <td>{{ object.usuario.nome }}</td>
                              </tr>
                              {% else %}
                              <tr>
                                <th class="text-right">Cliente:</th>
                                <td>{{ object.cliente }}</td>
                              </tr>
                              <tr>
                                <th class="text-right">Valor Total:</th>
                                <td>{{ object.valor_total }}</td>
                              </tr>
                              <tr>
                                <th class="text-right">Desconto:</th>
                                <td>{{ object.desconto }}</td>
                              </tr>
                              {% endif %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Matériais</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <fieldset>
                        <div style="border: 1px #dee2e6 solid;">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Produto</th>
                              <th style="text-align: center;">Quantidade</th>
                                {% if object.movimento == 's' %}
                              <th style="text-align: center;">Valor</th>
                                {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for obj in object.estoques.all %}
                              <tr>
                                <td>{{ obj.material }}</td>
                                <td style="text-align: center;">{{ obj.quantidade }}</td>
                                  {% if object.movimento == 's' %}
                                <td style="text-align: center;">{{ obj.valor }}</td>
                                  {% endif %}
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                {% if object.movimento == 'e' %}
                <a href="{% url 'listar_entrada_estoque' %}" class="btn btn-outline-info">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Voltar
                </a>
                {% else %}
                 <a href="{% url 'listar_saida_estoque' %}" class="btn btn-outline-info">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Voltar
                </a>
                {% endif %}
            </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}