{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}Entrada de Materiais{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Entrada Estoque</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<form method="post">
        {% csrf_token %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Dados da Venda</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                       <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="id_main-movimento">Tipo de Evento:</label>
                                    <select name="main-movimento" class="form-control" id="id_main-movimento" required>
                                        <option value="" selected="">---------</option>
                                        <option value="e">Entrada</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    {{ form.data|bootstrap }}
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_main-usuario">Funcionário:</label>
                                        <div class=" ">
                                            <select name="main-usuario" class=" form-control" required="" id="id_main-usuario" readonly>
                                                <option value="{{ request.user.id }}">{{ request.user.nome }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label  " for="id_main-codigo">Codigo</label>
                                        <div class=" ">
                                            <input type="text" name="main-codigo" class="form-control form-control" value="{{ codigoentrada }}" required="true" readonly="readonly" maxlength="50" id="id_main-codigo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {{ form.valor_total|bootstrap }}
                                </div>
                            </div>
                           <br>
                       </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Materiais de Entrada</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        {{ formset.management_form }}
                        <div id="estoque" class="form-group" style="overflow: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Cód.-Descrição:</th>
                                        <th scope="col">Quantidade:</th>
                                        <th scope="col">Valor de Compra:</th>
                                        <th scope="col" hidden>Saldo</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset %}
                                    <tr class="formset_row">
                                        <td>{{ form.material }}</td>
                                        <td>{{ form.quantidade }}</td>
                                        <td id="valor">{{ form.valor }}</td>
                                        <td id="saldo" hidden>{{ form.saldo }}</td>
                                        <td>
                                            <button type="button" class="btn btn-cust-danger btn-xs" onclick="">
                                                <i class="glyphicon glyphicon-trash" title="Excluir"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <span id="add-item" class="btn btn-outline-primary" style="margin-left: 8px;">
                            <i class="fa fa-plus"></i> Adicionar
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="{% url 'listar_entrada_estoque' %}" class="btn btn-outline-info">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    Cancelar
                                </a>
                            </div>
                            <div class="col-lg-10" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-success" >
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <script type="text/html" id="item-estoque">
      <div id="item-__prefix__" >
          <table class="table">
              <tbody>
                  <tr>
                    <td>{{ formset.empty_form.material }}</td>
                    <td>{{ formset.empty_form.quantidade }}</td>
                    <td id="valor2">{{ formset.empty_form.valor }}</td>
                    <td id="saldo2" hidden>{{ formset.empty_form.saldo }}</td>
                    <td>
                        <button type="button" class="btn btn-cust-danger btn-xs" style="padding-right: 15px;" onclick="remove(this)">
                            <i class="glyphicon glyphicon-trash" title="Excluir"></i>
                        </button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </script><br>
</form>
<script src="{% static 'estaticos/dist/js/estoque_entrada.js' %}"></script>
{% endblock %}