{% extends 'base.html' %}
{% load static %}
{% block title %}Entregas Pendentes{% endblock %}
{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Entregas Pendente</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        {% for c in cliente %}
                        {% for cc in c.estoque_set.all %}
                        {% if cc.entrega == True and cc.status_entrega == 'p' %}
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                <h5 class="card-title">
                                  <a class="accordion-toggle" data-toggle="collapse" role="tab" href="#{{ cc.cliente.id }}">
                                    Cliente: {{ cc.cliente.nome }}
                                  </a>
                                </h5>
                              </div>
                              <div id="{{ cc.cliente.id  }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="teste" style="overflow: auto; background: #ddd; border: 1px #A9A9A9 solid;">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th style=" text-align: center;">Telefone</th>
                                                    <th style=" text-align: center;">Data</th>
                                                    <th style="text-align: center;">Valor Total</th>
                                                    <th style="text-align: center;">Situação</th>
                                                    <th style="width: 8%; text-align: center;">Ação</th>
                                                </tr>
                                                </thead>
                                                {% for venda in venda %}
                                                {% if venda.cliente_id == cc.cliente.id  %}
                                                {% if venda.entrega == True and venda.status_entrega != 'f' %}
                                                <tbody>
                                                    <tr id="item">
                                                        <td>{{venda.cliente}}</td>
                                                        <td style=" text-align: center;">{{c.celular}}</td>
                                                        <td style=" text-align: center;">{{venda.data}}</td>
                                                        <td style=" text-align: center;">{{venda.valor_total}}</td>
                                                        <td style=" text-align: center;">{{venda.get_situacao_display}}</td>
                                                        <td style="width: 15%;" align="center">
                                                            <a class="icons" href="{% url 'atualizar_entrega' venda.pk %}" >
                                                                <i class="fas fa-edit" title="Baixa"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'estaticos/dist/js/update_venda.js' %}"></script>
{% include "parts/pagination.html" %}
{% endblock %}