{% extends 'base.html' %}
{% block title %}Lista de Vendas{% endblock %}
{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Lista de Vendas</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'saida_estoque' %}" class="btn btn-outline-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Adicionar
                </a>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <div class="col-md-4 float-right">
                    <div class="input-group input-group">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Cliente</th>
                            <th style=" text-align: center;">Data</th>
                            <th style=" text-align: center;">Situação</th>
                            <th style="width: 8%; text-align: center;">Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for saida in object_list %}
                            <tr>
                                <td>{{ saida.codigo }}</td>
                                <td>{{ saida.cliente }}</td>
                                <td style=" text-align: center;">{{ saida.data }}</td>
                                <td style=" text-align: center;">{{ saida.get_situacao_display }}</td>
                                <td style="width: 8%;" align="center">
                                    <a class="icons" href="{% url 'detalhar_entrada_saida' saida.pk %}" ><i class="fa fa-cubes" title="Detalhar"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% include "parts/pagination.html" %}
{% endblock %}