<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'estaticos/dist/css/styleProfile.css' %}">
    <link rel="stylesheet" href="{% static 'estaticos/dist/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">SisFer</h2>
                <h2 class="title title-primary">Sistema de Gerenciamento de Ferragem</h2>
                <p class="description description-primary">Esqueceu sua Senha?</p>
                <button id="signin" class="btn btn-primary">Recuperar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">SisFer</h2>
                <h2 class="title title-second">Sistema de Gerenciamento de Ferragem</h2>
                <p class="description description-second">Bem vindo!! Por favor entre em sua conta</p>

                <form class="form" method="post">
                    {% csrf_token %}
                    <hr class="hr-fvs">
                        <div class="form-group">
                            <label style="font-family: Roboto, sans-serif!important;">Usuário</label>
                            <input maxlength="11" name="username" type="text" class="form-control" id="exampleInputUsuario" placeholder="Usuário">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input name="password" type="password" minlength="8" class="form-control" id="exampleInputSenha" placeholder="Senha">
                        </div><br>
                        {% if messages %}
                          {% for message in messages %}
                            <h4 style="text-align: center;">{{ message }}</h4>
                          {% endfor %}
                        {% endif %}
                        <hr class="hr-fvs">
                        <button class="btn btn-second btn-fvs-profile" type="submit" style="margin-left: 62%;">Acessar</button>
                </form>

            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">SisFer</h2>
                <h2 class="title title-primary">Sistema de Gerenciamento de Ferragem</h2>
                <p class="description description-primary">Acesso ao Sistema</p>
                <button id="signup" class="btn btn-primary">Acessar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Esqueceu sua senha?</h2>
                <p class="description description-second">Informe seu E-mail para recuperá-lo:</p>
                <form class="form">
                    <hr class="hr-fvs">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entre com seu E-mail">
                        </div>
                    <hr class="hr-fvs">
                    <button class="btn btn-second btn-fvs-profile">Enviar </button>
                </form>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>
    <script src="{% static 'estaticos/dist/js/app.js' %}"></script>
</body>
</html>

