{% extends 'base.html' %}
{% load static %}

{% block title %}DashBoard{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->          
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3 id="entrada">0</h3>

            <p>Entrada de Materiais</p>
          </div>
          <div class="icon">
            <i class="fas fa-cart-plus"></i>
          </div>
         </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3 id="saida">0</h3>
            <p>Saída de Materiais</p>
          </div>
          <div class="icon">
            <i class="fas fa-cart-arrow-down"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            {% if pg_pend > 0 %}
            <h3>{{ pg_pend }}</h3>
            {% else %}
            <h3>0</h3>
            {% endif %}
            <a class="dashlink" href="{% url 'listar_venda' %}"><p>Pagamentos Pendentes</p></a>
          </div>
          <div class="icon">
            <i class="fas fa-dollar-sign"></i>
          </div>
          
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">

          <div class="inner">
            {% if entrega_pend > 0 %}
            <h3>{{ entrega_pend }}</h3>
            {% else %}
            <h3>0</h3>
            {% endif %}
            <a class="dashlink" href="{% url 'listar_entrega' %}"><p>Entregas Pendentes</p></a>
          </div>

          <div class="icon">
            <i class="fas fa-truck-loading"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">
        <!-- Grafico 1 -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
                Total anual de Entradas, Vendas e Lucro
            </h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-light btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Onde vai ficar o grafico -->
              <div class="chart tab-pane active" id="chart1">
                  <canvas id="totalvendas" height="300" style="height: 300px;"></canvas>
               </div>  
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
       <!-- Grafico 2 -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Total de Vendas Mês a Mês
            </h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-light btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Onde vai ficar o grafico -->
              <div class="chart tab-pane active" id="chart2" >
                  <canvas id="totalmes" height="300" style="height: 300px;"></canvas>
               </div>  
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->        
      </section>
      
      <section class="col-lg-6 connectedSortable">

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Top 5 Materiais mais lucrativos
            </h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-light btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Onde vai ficar o grafico -->
              <div class="chart tab-pane active" id="chart3">
                  <canvas id="matvenda" height="300" style="height: 300px;"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Total de vendas do mês atual
            </h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-light btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Onde vai ficar o grafico -->
              <div class="chart tab-pane active" id="chart4" >
                  <canvas id="totalmesatual" height="300" style="height: 300px;"></canvas>
               </div>  
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->     
      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<script src="{% static 'estaticos/dist/js/Chart.min.js' %}"></script>
<script src="{% static 'estaticos/dist/js/graficos_dash.js' %}"></script>
{% endblock %}