{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title" style="text-align: center;">Atualizar Material</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="{{ form.id_for_label }}">{{ form.codigo.label }}</label>
      {% render_field form.codigo class="form-control" placeholder=form.codigo.label %}


      <label for="{{ form.id_for_label }}">{{ form.nome.label }}</label>
      {% render_field form.nome class="form-control" placeholder=form.nome.label %}
      <div class="{% if form.nome.errors %} invalid{% endif %}">
        {% for error in form.nome.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>

      <label for="{{ form.id_for_label }}">{{ form.estoque.label }}</label>
      {% render_field form.estoque class="form-control" placeholder=form.estoque.label %}

      <label for="{{ form.id_for_label }}">{{ form.preco.label }}</label>
      {% render_field form.preco class="form-control" placeholder=form.preco.label %}
      <div class="{% if form.preco.errors %} invalid{% endif %}">
        {% for error in form.preco.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>

      <label for="{{ form.id_for_label }}">{{ form.estoque_minima.label }}</label>
      {% render_field form.estoque_minima class="form-control" placeholder=form.estoque_minima.label %}
      <div class="{% if form.estoque_minima.errors %} invalid{% endif %}">
        {% for error in form.estoque_minima.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>

      <label for="{{ form.id_for_label }}">{{ form.fornecedor.label }}</label>
      {% render_field form.fornecedor class="form-control" placeholder=form.fornecedor.label %}

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="submit-btn btn btn-primary">Atualizar</button>
  </div>
</form>