{% extends 'base.html' %}
{% block title %}Lista de Materiais{% endblock %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Materiais</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <button class="create-material btn btn-outline-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Adicionar
                </button>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <div class="col-md-4 float-right">
                    <div class="input-group input-group">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
      <!-- /.card-header -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th style="text-align: center;">Qtd. Entrada</th>
                                <th style="text-align: center;">Qtd. Saída</th>
                                <th style="text-align: center;">Qtd. Estoque</th>
                                <th>Fornecedor</th>
                                <th style="width: 8%; text-align: center;">Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for material in object_list %}
                                <tr>
                                    <td>{{ material.codigo }}</td>
                                    <td>{{ material.nome }}</td>
                                    <td></td>
                                    {% for m in material.itensestoque_set.all %}
                                    {% if m.estoque.movimento == 's'  %}

                                    {% endif %}
                                    {% endfor %}
                                    <td></td>
                                    {% if material.estoque > material.estoque_minima %}
                                        <td style="text-align: center;">{{ material.estoque }}</td>
                                    {% else %}
                                        <td style="text-align: center; background-color:red;">{{ material.estoque }}</td>
                                    {% endif %}
                                    <td></td>
                                    <td style="width: 10%; text-align: center">
                                        <button class="update-material btn btn-cust-danger btn-xs"
                                                data-id="{% url 'atualizar_material' material.pk %}">
                                            <i class="fa fa-edit" title="Editar"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>
{% include "parts/pagination.html" %}
{% endblock %}