{% extends 'base.html' %}
{% block title %}Lista de Fornecedores{% endblock %}
{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Fornecedores</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<form method="post">
        {% csrf_token %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'cadastrar_empresa' %}" class="btn btn-outline-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Adicionar
                </a>
            </div>

            <div class="col-lg-10" style="text-align: right;">
                <div class="col-md-4 float-right">
                    <div class="input-group input-group">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
      <!-- /.card-header -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>CNPJ</th>
                                <th>Nome Fantasia</th>
                                <th>Data Término Contrato</th>
                                <th>Status</th>
                                <th style="text-align: center;">Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for empresa in object_list %}
                                <tr>
                                    <td>{{ empresa.cnpj }}</td>
                                    <td>{{ empresa.nome }}</td>
                                    <td>{{ empresa.data_final }}</td>
                                    <td>Ativa</td>
                                    <td align="center">
                                        <a class="icons" href="{% url 'atualizar_empresa' empresa.id %}" ><i class="fas fa-edit" title="Editar"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>
</form>
{% include "parts/pagination.html" %}
{% endblock %}