<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "parts/css.html" %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Navbar -->
  {% include "parts/navbar.html" %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include "parts/side.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include "parts/loading.html" %}
    {% block content %}
    {% endblock %}   
  </div>
  <!-- /.content-wrapper -->
  {% include "parts/footer.html" %}

  
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  
</div>
{% include "parts/js.html" %}
</body>
</html>
