{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{% if object.pk %}Atualizar Cliente{% else %}Cadastrar Cliente{% endif %}</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<form method="post">
    {% csrf_token %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Dados do Cliente</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div id="atu">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                           <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.nome|bootstrap }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form.cpf|bootstrap }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.email|bootstrap }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.telefone|bootstrap }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.celular|bootstrap }}
                                    </div>
                                </div>
                           </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Endereço</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                       <fieldset>
                            <div class="row">
                                {% if object.pk %}
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-10-fvs">
                                        <label class="control-label  " for="id_cep">CEP:</label>
                                            <input type="text" name="cep" maxlength="100" value="{{ object.cep }}" class=" form-control" required="" id="id_cep">
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-2">
                                    {{ form.cep|bootstrap }}
                                </div>
                                {% endif %}
                                <div class="col-md-9">
                                    {{ form.logradouro|bootstrap }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.numero|bootstrap }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    {{ form.bairro|bootstrap }}
                                </div>
                                <div class="col-md-5">
                                    {{ form.complemento|bootstrap }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.cidade|bootstrap }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.estado|bootstrap }}
                                </div>
                            </div>
                       </fieldset>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'listar_cliente' %}" class="btn btn-outline-info">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    Cancelar
                </a>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <button type="submit" class="btn btn-outline-success" >
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Salvar
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% endblock %}