{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
<link rel="stylesheet" href="{% static 'estaticos/plugins/fontawesome-free/css/all.min.css' %}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'estaticos/dist/css/adminlte.min.css' %}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<link rel="stylesheet" href="{% static 'estaticos/dist/css/style.css' %}">

<link rel="stylesheet" href="{% static 'estaticos/dist/css/ajustes.css' %}">

<!--Select 2-->
<link rel="stylesheet" href="{% static 'estaticos/dist/css/select2.min.css' %}">
