<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="">SisFer</a>.</strong>
    todos os direitos reservados.
    <div class="float-right d-none d-sm-inline-block">
      <b>Versão</b> 1.0.0
    </div>
</footer>