{% load static %}
<!-- jQuery -->
<script src="{% static 'estaticos/plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'estaticos/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static 'estaticos/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'estaticos/plugins/chart.js/Chart.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'estaticos/dist/js/adminlte.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'estaticos/dist/js/demo.js' %}"></script>
<!-- Buscar CEP API correios -->
<script src="{% static 'estaticos/dist/js/buscar_cep.js' %}"></script>

<!--Input Mask-->
<script src="{% static 'estaticos/dist/js/locastyle.js' %}"></script>
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/inputmask.js' %}">
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/inputmask.extensions.js' %}">
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/inputmask.date.extensions.js' %}">
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/inputmask.numeric.extensions.js' %}">
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/jquery.inputmask.phone.extensions.js' %}">
<link rel="stylesheet" href="{% static 'estaticos/plugins/inputmask/inputmask/jquery.inputmask.regex.extensions.js' %}">


<!-- Bootstrap Modal -->
<script src="{% static 'estaticos/dist/js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'estaticos/dist/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $(function () {
        // Create book button
        $(".create-material").modalForm({formURL: "{% url 'cadastrar_material' %}"});

        $(".update-material").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

    });
</script>

<script src="{% static 'estaticos/dist/js/script.js' %}"></script>

<!--Alert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'estaticos/dist/js/sweetalert2.all.min.js' %}"></script>


<!--Select 2-->
<script src="{% static 'estaticos/plugins/select2/js/select2.min.js' %}"></script>