{% load static %}
<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link navbar-orange">
    <img src="{% static 'estaticos/img/logo.jpg' %}" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light"><strong>SisFer</strong></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'estaticos/img/user2.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.nome }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
          <a href="{% url 'index' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Venda
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'saida_estoque' %}" class="nav-link">
                <i class="fas fa-cart-plus nav-icon"></i>
                <p>Cadastrar Venda</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'listar_venda' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon"></i>
                <p>Pagamentos Pendentes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'listar_entrega' %}" class="nav-link">
                <i class="fas fa-truck-loading nav-icon"></i>
                <p>Entregas Pendentes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'listar_saida_estoque' %}" class="nav-link">
                <i class="fas fa-clipboard-list nav-icon"></i>
                <p>Lista de Vendas</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cart-plus"></i>
            <p>
              Estoque
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'listar_material' %}" class="nav-link">
                <i class="fas fa-cart-plus nav-icon"></i>
                <p>Cadastrar Material</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'listar_entrada_estoque' %}" class="nav-link">
                <i class="fas fa-cubes nav-icon"></i>
                <p>Entrada Estoque</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'listar_cliente' %}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Clientes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'listar_empresa' %}" class="nav-link">
            <i class="nav-icon fas fa-truck-loading"></i>
            <p>
              Fornecedores
            </p>
          </a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a href="" class="nav-link">-->
<!--            <i class="nav-icon fas fa-file-alt"></i>-->
<!--            <p>-->
<!--              Relatórios-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item has-treeview">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon fas fa-user-cog"></i>-->
<!--            <p>-->
<!--              Configurações-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a href="" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Trocar Senha</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Escolher</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <hr>-->

        <li class="nav-item">
          <a href="{% url 'deslogar' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Sair
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>